<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/signin">
        <h1>log into your account</h1>
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
                
            </div>
        </div>

        
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
        <div>
           <a href='/search'> <input type="submit"/></a>
        </div>
    </form>
    <br>
    <a href="/signup"><button>dont have an account?</button></a>
</body>
</html>